services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: py-app
    ports:
      - "5000:5000"
    depends_on:
      postgres:
        condition: service_healthy  # ← Ждет healthcheck
  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    container_name: py-app-proxy
    ports:
      - "8080:80"
    depends_on:
      - app
  postgres:
    container_name: py-app-db
    image: postgres:18
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=myapp
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql  # ← Изменен путь
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d myapp"]
      interval: 2s
      timeout: 5s
      retries: 10
  bot:
    build:
      context: .
      dockerfile: Dockerfile.bot
    command: python -m bot.main
    env_file: .env
    depends_on:
      - app
      - postgres
    
  prometheus:
    image: prom/prometheus
    container_name: py-app-metrics
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'  
    restart: unless-stopped
volumes:
  postgres_data:
    